# Terraform files
*.tfstate
*.tfstate.backup
terraform.tfvars

# Crash log files
crash.log

# Ignore override files as they are usually local settings
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local modules, if any
.terraform/

# Log files
*.log

# OS-specific files
.DS_Store
